<%- include("../layouts/header"); -%>

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <h1>Latest Todos</h1>
      <form action="/todos" method="POST"> 
        
        <input type="text" name="message" placeholder="add new task" />
        <input type="file" name="image" placeholder="add the image url" />
        <button>Add Task</button>

        <h2>Added Task</h2>

        <ul class="list-group">
        <% for( var i = 0; i < todos.length; i++){ %>
          <li class="list-group-item">
            <%= todos[i].message %> <%= todos[i].state %> <%= todos[i].createdAt %> <%= todos[i].updated %>
            <i class="fa fa-trash"></i> <button class="button button1" formaction="/checktask" type="submit">Check
            </button>
            <button
              class="button button2"
              formaction="/delete/todo/<%= todos[i].id %>"
              type="submit"
            >Delete</button>
          </li>
        <% } %>
        </ul>
      </form>      
    </div>
    <div class="col-lg-8 col-md-10 mx-auto">


    <h2>Completed task</h2>
    <% for( var i = 0; i < todos.length; i++){ %>        
      <ul>
        <li>
          <span  value="<%= todos[i].message %>" /><%=
          todos[i].message %> <%= todos[i].state %> <%= todos[i].createdAt %> <%= todos[i].updated %>
        </li>
        <button class="button button1" formaction="/taskdone" type="submit">
          Uncheck
        </button>
       
      </ul>
      
      <% } %>
  </div>
    <!-- <img src="https://okdiario.com/img/2016/12/29/jirafas-curiosidades-animal-b-655x368.jpg" /> -->
  </div>
</div>

<%- include("../layouts/footer"); -%>
